
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main * {
display: flex;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.center{
    justify-content: center;
    align-items: center;
}
main {

}

.pad{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}